extends ./../../layouts/header.pug


block title 
        title= title 

block css
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        link(rel="stylesheet", href="/css/home.css")
        link(rel="stylesheet", href="/css/profile.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css")




block jsScript 

        script(src='/js/app.js' defer)
        script(src='/js/profile.js' defer)



block body
        #replayModal.modal.fade(tabindex='-1' role='dialog' area-labelledby='replayModalTitle' area-hidden='true')
                .modal-dialog(role='document')
                        .modal-content  
                                .modal-header 
                                        h5#replayModalTitle.modal-title Replay
                                        button.btn.btn-light.close(type='button'
                                        onclick="clearReplayData()" data-dismiss="modal" area-label='Close')
                                                span(area-hidden='true') &times;
                                .modal-body 
                                - avatarURL = userProfile.profileAvatar ? `/uploads/${user._id}/profile/${user.profileAvatar}` : `/uploads/profile/profile.png`
                                .modal-footer 
                                        .create-post 
                                                .avatar_area 
                                                        img(src=avatarURL, alt="")
                                                .post-area 
                                                        textarea#replayContent(placeholder="Write a Command")
                                                        .image-container 
                                                        .actions 
                                                                label(for="replayImages")
                                                                        i.fas.fa-image 
                                                                input#replayImages(type="file" multiple="") 
                                                                button.replayBtn(disabled='') Replay
        
        #avatarUpdateModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='avatarUpdateModalTitle' aria-hidden='true')
                .modal-dialog(role='document')
                        .modal-content
                                .modal-header  
                                        h5#avatarUpdateModalTitle.modal-title Update Profile Avatar 
                                        button.btn.btn-light.close(type='button' data-dismiss='modal' aria-label='Close')
                                                span(aria-hidden='true') &times 
                                .modal-body  
                                        input#updateAvatarInput(type='file')
                                        #avatarPreviewContainer 
                                                img#avatarPreview
                                .modal-footer 
                                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                        button#uploadAvatarImage.btn.btn-primary(type='button') Save
        #coverUpdateModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='coverUpdateModalTitle' aria-hidden='true')
                .modal-dialog(role='document')
                        .modal-content
                                .modal-header  
                                        h5#coverUpdateModalTitle.modal-title Update Profile Cover 
                                        button.btn.btn-light.close(type='button' data-dismiss='modal' aria-label='Close')
                                                span(aria-hidden='true') &times 
                                .modal-body  
                                        input#updateCoverInput(type='file')
                                        #coverPreviewContainer 
                                                img#coverPreview
                                .modal-footer 
                                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                        button#uploadCoverImage.btn.btn-primary(type='button') Save
        main 
                .left-container 
                        .top 
                                .logo_area
                                        a.logo(href='/')
                                                i.fa-solid.fa-heart 
                                .menu-area
                                        nav 
                                                a.nav_link(href="/")
                                                        span 
                                                                i.fas.fa-home
                                                                
                                                        |Home 
                                                a.nav_link(href="/explore")
                                                        span 
                                                                i.fas.fa-hashtag
                                                                span.notify_box 2
                                                        |Explore 
                                                a.nav_link(href="/notifications")
                                                        span 
                                                                i.fas.fa-bell
                                                                span.notify_box 2
                                                        |Notifications 
                                                a.nav_link(href="/messages")
                                                        span 
                                                                i.fas.fa-envelope
                                                                span.notify_box 2
                                                        |Messages 
                                                a.nav_link(href="/bookmarks")
                                                        span 
                                                                i.fas.fa-bookmark
                                                                
                                                        |Bookmarks 
                                                a.nav_link(href="/lists")
                                                        span 
                                                                i.fas.fa-book
                                                                
                                                        |Lists 
                                                a.nav_link(href="/profile")
                                                        span 
                                                                i.fas.fa-user
                                                                
                                                        |Profile 
                                                a.nav_link
                                                        span 
                                                                i.fas.fa-ellipsis-h
                                                                
                                                        |More 
                                        .tweet_btn 
                                                button Post
                                .bottom
                                        .user_info 
                                                .avatar 
                                                        img(src=avatarURL, alt="")
                                                .info 
                                                        h4 #{user.firstName} #{user.lastName}
                                                        p @#{user.username}
                                                i.fas.fa-ellipsis-h
                                
                .middle-container 
                        .heading_area 
                                h4 Profile Page
                                button 
                                        i.fas.fa-star
                        if userProfile!== null
                                .profileContainer 
                                        - uploadProfileAvatar = userProfile.profileAvatar ? `/uploads/${userProfile.id}/profile/${userProfile.profileAvatar}` : `/uploads/profile/profile.png`
                                        - uploadProfileCover = userProfile.profileCover ? `/uploads/${userProfile.id}/cover/${userProfile.profileCover}` : ''
                                        .cover 
                                                img(src= uploadProfileCover , alt="")
                                                if userProfile.id === user._id  
                                                        button.uploadImage(data-toggle="modal" data-target="#coverUpdateModal")
                                                                i.fa-solid.fa-camera 
                                        .avatar 
                                                img(alt="Avatar", src=uploadProfileAvatar)
                                                if userProfile.id === user._id  
                                                        button.uploadImage(data-toggle="modal" data-target="#avatarUpdateModal")
                                                                i.fa-solid.fa-camera        
                                                
                                .actionBtns 
                                        if user.username !== userProfile.username 
                                                a.message
                                                        i.fa-solid.fa-envelope
                                                - isFollowing = userProfile.followers && userProfile.followers.includes(user._id.toString())

                                                
                                                button.follow( class= isFollowing ? "active": "" onclick=`followHandler(event,"${userProfile._id}")`) #{isFollowing ? "Following" : "Follow"}
                                .userDetails 
                                        h4.fullName #{userProfile.firstName + " " + userProfile.lastName}
                                        p.username @#{userProfile.username}
                                        .followLinks
                                                a.following(href="/profile/"+userProfile.username+"/following")
                                                        span #{userProfile.following.length}
                                                        |following 
                                                a.followers(href="/profile/"+userProfile.username+"/followers")
                                                        span #{userProfile.followers.length}
                                                        |followers 
                        
                                .tab_container 
                                        a.posts_tab(class=tab === "posts"? "active" : ""  href=`/profile/` +userProfile.username) Posts
                                        a.replies_tab(class=tab === "replies"? "active" : ""  href=`/profile/` +userProfile.username + "/replies") Replies
                                .postContainer
                        else
                                h4 Not Found

                .right-container 
                        a(href="/logout") Logout
        script(src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js')
        script. 
                const user = !{userJs}
                const tab = '!{tab}'
                const profileUser = !{profileUserJs}