extends ./../layouts/header.pug


block title 
        title= title 

block css
        link(rel="stylesheet", href="/css/login.css")

block jsScript 
        script(src='/js/login.js' defer)


block body 
        .wrapper 
                .login-wrapper
                        h2 Create New Password
                        
                        form(action="/createNewPassword",method="post")
                                //- for username
                                div(class="login" )
                                        label(for="username")
                                                b Password 
                                        input#username(type="text" class="from-control" placeholder="Enter New Password" name="password", value=user.password)
                                if error.password
                                        p.error #{error.password.msg}
                                
                                //- for password
                                div(class="login")
                                        label(for="password")
                                                b Confirm Password  
                                        input#password(type="text" ,class="from-control" placeholder="Enter Your password" name="confirmPassword", value=user.confirmPassword ) 

                                        input(type="hidden", name="otpId" value=otp.otpId)
                                        input(type="hidden", name="otp" value=otp.otp)
                                if error.confirmPassword
                                        p.error #{error.confirmPassword.msg}

                                //- submit
                                input(type="submit" ,class="from-control" value="Save And Login")
                        
                        //- link
                        p Need to Login?
                                a(href="/login") Login Here
                        