extends ./../layouts/header.pug


block title 
        title= title 

block css
        link(rel="stylesheet", href="/css/login.css")

block jsScript 
        script(src='/js/login.js' defer)



block body 
     .wrapper 
        .login-wrapper
                h2 Register 
                
                form(action="/register",method="post" enctype='multipart/form-data')
                     
                        div(class="login" )
                                label(for="firstName")
                                        b First Name
                                input#firstName(type="text" ,value=user ? user.firstName :'' class="from-control" placeholder="Enter Your First Name" name="firstName", required='' )
                                if error.firstName
                                        p.error #{error.firstName.msg}

                        //- for last name
                        div(class="login")
                                label(for="lastName")
                                        b Last Name 
                                input#lastName(type="text" ,value=user ? user.lastName :'' class="from-control" placeholder="Enter Your lastName" name="lastName", required='' )
                        if error.lastName
                                 p.error.lastName-error #{error.lastName.msg} 


                        //- for user name
                        div(class="login" )
                                label(for="userName")
                                        b User Name 
                                input#userName(type="text" ,value=user ? user.username :''  class="from-control" placeholder="Enter Your userName" name="userName", required='' )
                        if error.username
                                p.error.username-error #{error.username.msg} 


                        //- for email
                        div(class="login" )
                                label(for="email")
                                        b Email
                                input#email(type="text" ,value=user ? user.email :'' class="from-control" placeholder="Enter Your email" name="email", required='' )
                        if error.email
                                p.error.email-error #{error.email.msg} 


                        //- for password
                        div(class="login")
                                label(for="password")
                                        b Password  
                                input#password(type="password" ,value=user && !error.password && !error.confirmPassword ? user.password :'' class="from-control" placeholder="Enter Your password" name="password", required='' ) 
                        if error.password
                                p.error.password-error #{error.password.msg} 


                        //- for confirm password
                        div(class="login")
                                label(for="confirmPassword")
                                        b Confirm Password  
                                input#confirmPassword(type="password" ,value=user ? user.confirmPassword :'' class="from-control" placeholder="Enter Your password" name="confirmPassword", required='' ) 
                        if error.confirmPassword
                                p.error.profileAvatar-error #{error.confirmPassword.msg} 
                        //- profile picture
                        div(class="login")
                                label(for="profileAvatar")
                                        b Picture 
                                input#profileAvatar(type="file" ,accept="jpg, .png, .jpeg" class="from-control" placeholder="Enter Your password" name="profileAvatar", required='' ) 
                        if error.profileAvatar
                                p.error.profileAvatar-error #{error.profileAvatar.msg} 

                        //- submit
                        input(type="submit" ,class="from-control" value="Register")
                
                //- link
                p Already Have an account?
                        a(href="/login") login Here