extends ./../layouts/header.pug


block title 
        title= title 

block css
        link(rel="stylesheet", href="/css/login.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")

block jsScript 
        script(src='/js/register.js' defer)



block body 
     .wrapper 
        .login-wrapper
                h2 Register 
                
                form(action="/register",method="post" enctype='multipart/form-data')
                     
                        div(class="login" )
                                label(for="firstName")
                                        p First Name
                                input#firstName(type="text" ,value=user ? user.firstName :'' class="from-control" placeholder="Enter Your First Name" name="firstName", required='' )
                                if error.firstName
                                        p.error #{error.firstName.msg}

                        //- for last name
                        div(class="login")
                                label(for="lastName")
                                        p Last Name 
                                input#lastName(type="text" ,value=user ? user.lastName :'' class="from-control" placeholder="Enter Your lastName" name="lastName", required='' )
                        if error.lastName
                                 p.error #{error.lastName.msg} 


                        //- for user name
                        div(class="login" )
                                label(for="username")
                                        p User Name 
                                input#username(type="text" ,value=user ? user.username :''  class="from-control" placeholder="Enter Your username" name="username", required='' )
                        if error.username
                                p.error #{error.username.msg} 


                        //- for email
                        div(class="login" )
                                label(for="email")
                                        p Email
                                input#email(type="text" ,value=user ? user.email :'' class="from-control" placeholder="Enter Your email" name="email", required='' )
                        if error.email
                                p.error #{error.email.msg} 

                        .bothPassword 
                                .pass-class 
                                        //- for password
                                        div(class="login")
                                                label(for="password")
                                                        p Password
                                                .passContainer  
                                                        input#password(type="password" ,value=user && !error.password && !error.confirmPassword ? user.password :'' class="from-control"  name="password", required='' )
                                                        span#passwordIcon 
                                                                i.fas.fa-eye  
                                        if error.password
                                                p.error #{error.password.msg} 


                                        //- for confirm password
                                        div(class="login")
                                                label(for="confirmPassword")
                                                        p Confirm Password  
                                                .passContainer 
                                                        input#confirmPassword(type="password" ,value=user ? user.confirmPassword :'' class="from-control" name="confirmPassword", required='' )
                                                        span#confirmPasswordIcon
                                                                i.fas.fa-eye  
                                
                                        if error.confirmPassword
                                                p.error #{error.confirmPassword.msg} 
                        p#passErrors 
                        //- profile picture
                        div(class="login")
                                label(for="profileAvatar")
                                        p Picture 
                                input#profileAvatar(type="file" ,accept="jpg, .png, .jpeg" class="from-control" placeholder="Enter Your password" name="profileAvatar", required='' ) 
                        if error.profileAvatar
                                p.error #{error.profileAvatar.msg} 

                        //- submit
                        input(type="submit" ,class="from-control" value="Register")
                
                //- link
                p Already Have an account?
                        a(href="/login") login Here